  .vote-circle {
      position: absolute;
      top: -12px; /* Adjust top position as needed */
      left: 50%;
      transform: translateX(-50%);
      background-color: #ff004c; /* Blue color, you can adjust it as needed */
      color: white;
      width: 40px;
      height: 25px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card {
      max-width: 18rem; /* Set maximum width for the card */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .card-title {
      max-width: 100%; /* Allow the title to wrap within the card */
      overflow: hidden;
      text-overflow: ellipsis; /* Add ellipsis for long titles */
      white-space: nowrap;
    }